# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular Languages for Data Science
- List popular Libraries for Data Science
- List popular tools for data science
- simple arithmetic expression to mutiply then add integers

Some of the popular languages that Data Scientists use are:
1. python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. scikit-learn
4. matplotlib

|Data Science Tools|
---
|Jupyter Notebook|
|Apache spark|
|Tableau|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200//60

3

## Author:
K.Sai Hemanth